@mixin pad-t-section {
  padding-top: 160px;

  @media (max-width: 1020px) {
    padding-top: 140px;
  }

  @media (max-width: 640px) {
    padding-top: 120px;
  }

  @media (max-width: 320px) {
    padding-top: 80px;
  }
}