@import '../../sass/mixins';
@import '../../sass/variables';

.rule {
  border-bottom: 1px solid $black;
  padding: 15px 0;

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-family: 'Freigeist';
      font-size: 24px;
      color: $black;
    }

    button {
      display: flex;
      background-color: $blue;
      border: none;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      cursor: pointer;

      svg {
        height: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  p {
    font-family: 'Inter';
    font-size: 18px;
    line-height: 24px;
    color: black;
    padding-top: 15px;
  }

  .active {
    transform: rotate(45deg) translateX(0.75px);
  }

  @media (max-width: 320px) {
    &Header {
      h3 {
        font-size: 18px;
      }
    }

    p {
      font-size: 16px;
    }
  }
}