.price__when {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #1E1E1E;
}

.price__value {
  font-family: 'Freigeist';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #1E1E1E;
}