.about {
  display: grid;
  justify-content: center;
  height: 500px;

  grid-template-columns: repeat(2, 40%);
  grid-column-gap: 5%;

  .about__information {

    .about__information-title {
      font-family: "Freigeist";
      font-style: italic;
      font-weight: 400;
      font-size: 70px;
      line-height: 84px;
      letter-spacing: 0.035em;
      color: #1e1e1e;
    }

    .about__information-description {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.015em;
      color: #000000;
    }
  }

  .about__image {
    justify-self: center;
  }
}