.preview {
  width: 100%;
  display: grid;
  position: relative;

  .preview__img {
    width: 100%;
  }

  .preview__information {
    position: absolute;
    display: grid;

    margin-left: 15%;

    .preview__tagline {
      font-family: "Freigeist";
      font-style: italic;
      font-weight: bold;
      font-size: 90px;
      line-height: 120.02%;
      letter-spacing: 0.03em;
      color: #ffffff;
    }

    .preview__description {
      margin-top: -3%;
      width: 610px;
      height: 48px;
      font-family: "Inter", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.015em;
      color: #ffffff;
    }
  }

  .preview__button {
    position: absolute;
    margin-left: 15%;
    margin-bottom: 5%;
    align-self: end;

    width: 247px;
    height: 61px;
    background-color: #003f60;
    border-radius: 50px;
    border: none;

    font-family: "Freigeist";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
  }
}