@import '../../sass/variables';

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;

  &Active {
    visibility: visible;
  }

  .modal {
    position: relative;
    padding: 30px;
    background-color: $white;
    border-radius: 15px;

    svg {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;

      polygon {
        fill: $black;
      }
    }

    h3, label, button {
      font-family: 'Freigeist';
    }

    h3 {
      font-size: 45px;
      font-style: italic;
      text-align: center;
      color: $black;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 30px 75px 0 75px;

      label {
        display: flex;
        flex-direction: column;

        input {
          margin: 10px 0;
          padding: 10px 20px;
          border: 1px solid grey;
          border-radius: 8px;
        }
      }

      button {
        font-size: 20px;
        color: $white;
        background-color: $blue;
        padding: 15px;
        margin-top: 10px;
        border-radius: 30px;
      }
    }

    &Agree {
      flex-direction: row !important;
      justify-content: space-around;
      align-items: center;
      font-family: 'Inter' !important; 
      font-size: 14px;

      input, a {
        align-self: center;
      }
    }

    @media (max-width: 590px) {
      h3 {
        font-size: 30px;
      }

      form {
        padding: 20px 0 0 0;
      }
    }
  }
}