.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px;

  background: #003f60;

  .logo {
    display: grid;
    justify-self: center;
  }

  .menu__list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    align-items: center;

    list-style-type: none;

    li {
      justify-self: center;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
    }
  }

  .phoneNumber {
    display: grid;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;

    width: 210px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: white;
  }
}