@import '../../sass/variables';

.header {
  background-color: $blue;


  &Phone {
    border: 1px solid $white;
    border-radius: 50px;
    padding: 10px 25px;
  }

  &Hamburger {
    display: none;
  }

  :global {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  a {
    color: $white;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 500;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      margin-left: 50px;
    }

    li:first-child {
      margin-left: 0;
    }
  }

  @media (max-width: 1020px) {
    ul {
      li {
        margin-left: 35px;
      }
    }
  }

  @media (max-width: 640px) {
    svg {
      width: 103px;
      height: 80px;
    }

    ul {
      display: none;
    }

    &Phone {
      display: none;
    }

    &Hamburger {
      display: block;
      width: 50px;
      height: 28px;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $white;
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 320px) {
    svg {
      width: 77px;
      height: 60px;
    }

    &Hamburger {
      width: 35px;
      height: 20px;

      span {
        height: 1px;
        margin-bottom: 6px;
      }
    }
  }
}