@import '../../sass/variables';
@import '../../sass/mixins';

.promo {
  background-color: $bac;
  @include pad-t-section;

  &Wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}