@import '../../sass/variables';
@import '../../sass/mixins';

.house {
  width: 590px;
  margin: 0 5px;
  position: relative;
  max-height: 750px;
  background-color: $white;
  border-radius: 35px;
  padding-bottom: 35px;
  
  img {
    width: 100%;
    border-radius: 35px;
    margin-bottom: 20px;
  }

  &Text {
    margin: 0 62px 0 35px;

    h4 {
      font-family: 'Freigeist';
      font-size: 36px;
      color: $black;
      margin-bottom: 20px;
    }

    p {
      font-family: 'Inter';
      font-weight: 400px;
      font-size: 18px;
      color: $black;
      margin-bottom: 15px;
    }

    button {
      @include btn;
      padding: 18px 65px;
      margin-top: 35px;
    }
  }

  &Capacity {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    color: $blue;
  }

  &Price {
    font-family: 'Inter';
    font-weight: 400px;
    font-size: 18px;
    color: $black;
    margin-bottom: 5px;
  }

  @include slider;

  @media (max-width: 640px) {
    width: 445px;

    &Capacity {
      margin-bottom: 12px;
      font-size: 16px;
    }

    &Price {
      font-size: 16px;
    }

    img {
      margin-bottom: 15px;
    }

    &Text {
      margin: 0 30px 0 30px;

      h4 {
        font-size: 24px;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
      }

      button {
        margin-top: 15px;
      }
    }
  }

  @media (max-width: 320px) {
    width: 280px;
    margin: 0 auto;

    &Text {
      h4 {
        font-size: 22px;
      }

      button {
        padding: 18px 20px;
      }
    }
  }
}