@import '../../sass/variables';
@import '../../sass/mixins';

.gallery {
  &Wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    img {
      width: calc((100% - 20px) / 2);
    }

    img:last-child {
      width: 100%;
    }

    @media (max-width: 1020px) {
      img {
        max-width: 460px;
      }
    }

    @media (max-width: 640px) {
      gap: 15px;
    }
  }

  &Slider {
    display: none;

    @include slider;
  }

  @media (max-width: 640px) {
    &Slider {
      display: block;
    }

    &Wrapper {
      display: none;
    }
  }
}