@import '../../sass/variables';
@import '../../sass/mixins';

.houses {
  margin-top: 40px;

  &Items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // &:last-child {
    //   background-color: red;
    // }

    @media (max-width: 640px) {
      justify-content: center;
    }
  }

    :global {
      .slick-slider {
        width: 100%;
      }

      .slick-arrow {
        top: 50%;
        z-index: 1;
      }
  
      .slick-prev {
        left: 0%;
        width: 30px;
        height: 30px;
  
        &:before {
          color: $blue;
          font-size: 30px;
          opacity: 1;
        }
      }
  
      .slick-next {
        right: 0%;
        width: 30px;
        height: 30px;
  
        &:before {
          color: $blue;
          font-size: 30px;
          opacity: 1;
        }
      }
  
      .slick-list {
        border-radius: 30px;
      }
    }

    @media (max-width: 1020px) {
      :global {
        .slick-prev {
          left: 1%;
        }

        .slick-next {
          right: 1%;
        }
      }
    }
}