@import '../../sass/variables';

.actions {
  &Items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 320px) {
      margin-top: 20px;
    }

    @media (max-width: 619px) {
      justify-content: center;
    }
  }
}